version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./ecommerce-backend
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongo

  frontend:
    build: ./ecommerce-frontend
    container_name: frontend
    ports:
      - "5173:3000"
    depends_on:
      - backend

volumes:
  mongo_data:
